*{
  color: rgb(255, 255, 255);
  font-size: 19px;
  background-color:#2a2c29;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #51a74a;
  
}
.app{
  height: auto;
  margin: 0 auto; 
  display: block;
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;

 
 }
 .karta{
  width: 100%;
 }
p{
  font-size: 100%;
  color: #f3f710;
  text-align: center;
}